/* Base CSS revisions */

/*anchor*/
/* a {
    color: #667fa0;
    text-decoration: none;
}*/


/*
a:hover {
    color: #2A3542;
} */

.revert {
    all:revert;
}

.chk-all:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
} 

.label {
    padding: 0.5em 0.8em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
}

.label-no-danger {
    color: #a7a7a7;
    font-weight: bold;
    font-size: 100%;
    padding: 0;
}

.label-danger, .inbox a:hover .label-no-danger {
    color: #FF6C60;
    font-weight: bold;
    font-size: 100%;
    padding: 0;
}


input, textarea, select, button {
    outline: none !important;
}

/*list*/

ul {
    padding-left: 0;
}

/* dropdown menu */
.dropdown-menu {
    padding: 0;
}

a.dropdown-item{
    padding: .75rem 1rem 1rem 1rem;
}

.dropdown-divider {
    margin: 0;
}

/* dropdown item link color */
.dropdown-item a {
    color: #2A3542;
}

/*dropdown select bg*/
.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(0,0,0,0.075);
    text-decoration: none;
}

/* Page specific CSS */

.inbox {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.inbox aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.inbox .inbox-left {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px 0 0 4px;
    width: 240px;
}

.inbox .inbox-right {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
}

.inbox .inbox-left .user-head {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px 0 0; 
    color: #fff;
    min-height: 85px;
    padding: 10px;
    border-bottom: 1px solid #d5d8df;
}

.inbox .inbox-right .user-head {
    background: none repeat scroll 0 0;
    border-radius: 4px 0 0; 
    color: #fff;
    min-height: 80px;
    margin: -20px;
    padding: 10px;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.user-head .inbox-avatar {
    float: left;
    width: 65px;
}

.user-head .username {
    margin: 10px;
}
.user-head .username h5 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #8a8a8a;
    font-weight: bold;
}
.user-head .username h5 a {
    color: #000;
}

.panel-body {
    padding: 20px;
}
.btn-compose {
    background: none repeat scroll 0 0 #ff6c60;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border-radius: 12px;
}
.btn-compose:hover {
    background: none repeat scroll 0 0 #f5675c;
    color: #fff;
}

ul.side-panel-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#inbox_button {
    text-decoration: none;
    line-height: 1.1;
    font-family: inherit;
}

.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}

/* begin mobile avatar menu */

/* ul.mobile-avatar-menu a {
    color: #6a6a6a;
    line-height: 45px;
    padding: 0 15px;
    width: 100%;
}

ul.mobile-avatar-menu li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}

ul.mobile-avatar-menu li span.label {
    color: #6a6a6a;
    font-size: inherit;
    font-weight: 550;
} */

/* end mobile avatar menu */

ul.side-panel-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.side-panel-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
    text-decoration: none;
}

ul.side-panel-nav li.inbox.active a, ul.side-panel-nav li.inbox.active a i, ul.side-panel-nav li.inbox a:hover, ul.side-panel-nav li.inbox a:focus, ul.side-panel-nav li.inbox a:hover i, ul.side-panel-nav li.inbox a:focus i {
    background: none repeat scroll 0 0 #fce8e6;
    color: #d93025;
    font-weight: bold;
    border-radius: 0 12px 12px 0;
}

/* ul.side-panel-nav li.inbox a:hover{
    background: none repeat scroll 0 0 #fce8e6;
    color: #d93025;
    font-weight: bold;
    border-radius: 0 12px 12px 0;
} */

ul.side-panel-nav li a:hover, ul.side-panel-nav li a:focus, ul.side-panel-nav li.active {
    background: none repeat scroll 0 0 rgba(0,0,0,0.075);
    color: #6a6a6a;
    font-weight: bold;
    border-radius: 0 12px 12px 0;
}

/* , ul.side-panel-nav li.active a, ul.side-panel-nav li a:focus { */ 

ul.side-panel-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}


ul.side-panel-nav li a span.label {
    margin-top: 13px;
}

.inbox-head {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
    border-bottom: 1px solid #d5d8df;
}

.inbox-head .d-flex {
    justify-content: space-between;
}

.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}

div.inbox-head .d-flex form {
    border: 1px solid transparent;
    border-radius: 8px;
    flex: 0 1 75%;
    display: inline-flex;
}

div.inbox-head .sr-input {
    background: none repeat scroll 0 0 #f1f3f4;
    flex: 0 1 100%;
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    height: 40px;
    padding: 0 10px;
    max-width: 700px;
}

.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #f1f3f4;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #8a8a8a;
    height: 40px;
    padding: 6px 15px;
}

.text-end span {
    /* for timestamp padding */
    padding-right: 0.5rem;
}

/* begin mobile nav */

/* nav.inbox-head form {
    background: none repeat scroll 0 0 #f1f3f4;
    border: 1px solid transparent;
    flex: 0 1 100%;
    display: inline-flex;
    border-radius: 20px;
}

nav.inbox-head .sr-input {
    background: none repeat scroll 0 0 #f1f3f4;
    border: medium none;
    box-shadow: none;
    border-radius: 20px;
    height: 48px;
    padding: 0 10px;
    width: 100%;
} */

/* end mobile nav */

/* begin mobile-table-inbox */
/* 
.mobile-table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}

.mobile-table-inbox a {
    display: inline;
    color: #000;
    display: contents;
}

.mobile-table-inbox div {
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
}

.mobile-table-inbox:hover, .mobile-table-inbox:focus {
    background-color: rgba(0,0,0,0.075);
    text-decoration: none;
}

.mobile-table-inbox div:hover {
    cursor: pointer;
}
.mobile-table-inbox div .fa-star.inbox-started, .mobile-table-inbox div .fa-star:hover {
    color: #f78a09;
    cursor: not-allowed;
}
.mobile-table-inbox div .fa-star {
    color: #d5d5d5;
}
.mobile-table-inbox.unread a {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}

.mobile-table-inbox .text-center input, .mobile-table-inbox .text-center i {
    padding: 0 10px;
}

a.mobile-table-inbox div{
    padding-bottom: 5px;
}

.mobile-header-row {
    padding: 10px;
}

.mobile-sender-text {
    font-weight: 600;
    line-height: 1.4;
    padding-left: 0;
} */

/* end mobile-table-inbox */


/* begin table-inbox */

.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
}

.table-inbox input {
    margin-right: 0.5rem;
}

.table-inbox a {
    display: block;
    color: #000;
    display: contents;
}
.table-inbox div {
    padding: 12px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

.table-inbox div.text-left{
    width: auto;
}

.table-inbox:hover, .table-inbox:focus {
    background-color: rgba(0,0,0,0.075);
    text-decoration: none;
}

.table-inbox div:hover {
    cursor: pointer;
}
.table-inbox div .fa-star.inbox-started, .table-inbox div .fa-star:hover {
    color: #f78a09;
    cursor: not-allowed;
}
.table-inbox div .fa-star {
    color: #d5d5d5;
}
.table-inbox.unread a {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}

/* .table-inbox .text-center input, .table-inbox .text-center i {
    padding: 0 10px;
} */


ul.inbox-pagination {
    float: right;
    width: auto;
}
ul.inbox-pagination li {
    float: left;
}
.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    /* padding: 5px 10px; */
}

.mail-option .chk-all {
    padding: 5px 10px;
}

.mail-option a.btn {
    color: #afafaf;
}

.inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 0rem .5rem;
}

.mail-option input[type="checkbox"] {
    margin-top: 0;
}
.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}
.inbox-pagination a.np-btn {
    margin-left: 5px;
}
.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
}

.inbox-body {
    padding: 15px 15px 15px 15px;
}


/* .view-mail a {
    color: #ff6c60;
} */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* stuff I added */
a.disabled {
    cursor: not-allowed;
    pointer-events: auto !important;
}

a[disabled] {
    cursor: not-allowed;
}

i.fa-star[disabled] {
    cursor: not-allowed;
}

input[disabled] {
    cursor: not-allowed;
}


.mobile-email-head img, .email-head img {
    /* width: auto;
    height: auto; */
    max-width: 40px;
    max-height: 40px;
    padding: 0;
}

.email-head {
    padding: 0rem 1.5rem .75rem 1.5rem;
}

/* .email-head .email-sender {
    padding-left: 8px;
} */

.email-head .sender-address, .mobile-email-head .sender-address {
    /* text-decoration: underline; */
    font-size: 0.75rem;
    color: #555;
}

/* email page stylesheets */
.heading-inbox {
    justify-content: space-between;
    padding: 0px 0 15px 0;
}


.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.email-icons a.btn:hover, .email-icons a.btn:focus {
    background-color: #8a8a8a;
    color: #fff;
}
.subject-info {
    border-top: 1px solid #d5d8df;
    padding: 0.5rem .75rem 0rem .75rem;
}

.sender-dropdown {
    /* background: none repeat scroll 0 0 #eaeaea; */
    color: #777;
    font-size: .6rem;
    padding: .2rem .2rem;
    /* margin-left: .25rem; */
}

.subject-row {
    justify-content: space-between;
    padding: 0rem .75rem 0rem 4rem;
}

.subject-row .col {
    padding: 0;
}

.subject-row p {
    color: #202124;
    font-size: 1.375rem;
}

.subject-row a.btn:hover, .subject-row a.btn:focus {
    background-color: #8a8a8a;
    color: #fff;
}

.email-container {
    padding: 0.5rem 1.5rem 0.5rem 4rem;
}

.email-container .col {
    padding: 0;
}

.email-footer {
    display: flex;
    justify-content: start;
    padding-left: 4rem;
}

.email-footer .btn {
    background: #fff;
    color: #5f6368;
    border-radius: 4px;
    border: 1px solid #5f6368;
    font-weight: bold;
    padding: .3rem .75rem;
    margin-right: .5em;
}

.email-footer a.btn:hover, .email-footer a.btn:focus  {
    background-color: #8a8a8a;
    color: #fff;
}

a.btn.trash-icon:hover, a.btn.trash-icon:focus {
    background-color: #f5675c;
    color: #fff;
}

a.btn.flag-icon:hover, a.btn.flag-icon:focus {
    background-color: #f0d7a9;
    color: #fff;
}

a.btn.approved-icon:hover, a.btn.approved-icon:focus {
    background-color: #8ae68a;
    color: #fff;
}

/* warning styles */

.warning-template {
    border: 2px solid #767676;
}

/* add i.trash icon */
.col-1 i.fa {
    padding: .25rem;
}